html, body{margin: 0; background-color: #d6c5a4;
    ;}
body {font-family: "Lato", sans-serif;} 
/* Con la propiedad box-sizing aseguramos que las medidas que indicadas a las cajas sean exactamnte las indicadas, 
ya que cuando no ponemos esta etiqueta los padding y bordes no se cuentan. por ejemplo al indicar a un div con
un width de 190px si este tuviera un borde de 5px el tamaño total de la caja sería 195px pese al verle indicado un width de 190px*/
* {box-sizing: border-box}
.ctn_menu {
    /* float: left;
    border: 1px solid #ccc;
    background-color: #111111;
    width: 18%;
    height: 300px; */
    margin: 0;
    padding: 0;
    /* EN CASO DE MOFIFICAR ESTE ANCHO CAMBIAR EL MARGEN DEL cont_botenes */
    width: 16%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    border-right: 5px solid #ccc;
    /* overflow: auto; */
}
.ctn_menu button {
    font-size: 20px;
    display: block;
    background-color: inherit;
    color: rgb(126, 82, 0);
    padding: 22px 16px;
    width: 100%;
    border: none;
    /* outline: none; */
    text-align: left;
    cursor: pointer;
    /* con esta etiqueta el color de fondo inficado se colorea de manera progresiva */
    transition: 1s;
}
.cont_botones {
    /* float: left; */
    padding: 0px 12px;
    /* border-left: 2px; */
    height: 100%;
    margin-left: 16%;
    overflow: auto;
}
.ctn_menu button:hover {
  color: #fffb00;
  background-color: rgb(134, 89, 6);
}
.ctn_menu button.active {
    background-color:rgb(224, 146, 0);
}